<div>
  <h1 class="text-center">Welcome to Mental Wellbeing</h1>
  <div class="d-flex">
    <img src="./assets/mind-wellness.png" class="img-fluid" style="width: 50%;height: 50%"/>
    <h5 class="d-flex align-items-center text-break p-3 text-light">
      We are offering to everyone who want to improve his mental state to enjoy watching courses
      from our great specialists from the given area.
    </h5>
  </div>
  <div class="d-flex">
    <h5 class="d-flex align-items-center text-break p-3 text-light">
      Our brain is like plant, If we don't watering enough, or not putting clean thoughts into it we will suffer.
    </h5>
    <img src="./assets/feed-brain.png" class="img-fluid" style="width: 50%;height: 50%"/>
  </div>
  <div class="d-flex">
    <img src="./assets/podcast-image.png" class="img-fluid" style="width: 50%;height: 50%"/>
    <h5 class="d-flex align-items-center text-break p-3 text-light">
      You can listening podcast that will help you with different mental health problems as depression, anxiety
      and in the same time improve your listening skills
    </h5>
  </div>
  <div class="d-flex">
    <h5 class="d-flex align-items-center text-break p-3 text-light">
      Like push ups is exercise for building muscles, reading is exercise for building your brain.
      Lots of books here that you can change your perception on the things, improve many things
      in your mental life you struggle and be the best version of yourself.
    </h5>
    <img src="./assets/online-books.png" class="img-fluid" style="width: 50%;height: 50%"/>
  </div>
</div>
